
@{
    ViewBag.Title = "Home page";
}
<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <h3 class="section-subheading text-muted">Is this seriously a hostel?</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Description</h4>
                <p class="text">
                    This is the only one capsule hostel in&nbsp;a&nbsp;real&nbsp;double-decker&nbsp;bus around the world. Bagpackers and&nbsp;tourists friendly, also&nbsp;suitable for&nbsp;students and&nbsp;workers.<br /><br />
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Amenties</h4>
                <p class="text">
                <p class="text">
                    <div>In each room:</div>
                    <img src="~/Content/img/icons/bed.png" width="40" />
                    <img src="~/Content/img/icons/locker.png" width="40" />
                    <img src="~/Content/img/icons/clothes.png" width="40" />
                    <img src="~/Content/img/icons/wifi.png" width="40" />
                </p>
                <p class="text">
                    <div>In the bus:</div>
                    <img src="~/Content/img/icons/reception.png" width="40" />
                    <img src="~/Content/img/icons/shover.png" width="40" />
                    <img src="~/Content/img/icons/kitchen.png" width="40" />
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">House rules</h4>
                <p class="text-muted">
                    <div>No drugs</div>
                    <div>No pets</div>
                    <div>No visitors</div>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Rooms -->
@*<section id="rooms" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rooms</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Room one</h4>
                        <p class="text-muted">Room description and etc</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Room two</h4>
                        <p class="text-muted">Room description and etc</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Room one</h4>
                        <p class="text-muted">Room description and etc</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- News -->
<section id="whatson" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What's going on?</h2>
                <h3 class="section-subheading text-muted">Latest news and announces</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July - 03</h4>
                                <h4 class="subheading">We'll open it soon</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Good news for everyone! We'll open it for booking on 17th July. From 17th to 24th of July you can stay one night in the bus for FREE. P.S. Booking is required for this offer.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be a Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Social Section -->
<section id="social">
    @*<div class="container">*@
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">We're in social networks</h2>
        </div>
        <script src="~/Content/js/instafeed.min.js"></script>
        <script type="text/javascript">

            var userFeed = new Instafeed({
                get: 'user',
                userId: '3318374428',
                clientId: '35791524364549fca1cacedaae4db76b',
                accessToken: '3318374428.1677ed0.d17b8f2556fe48f78bfbd53c682a563b',
                resolution: 'standard_resolution',
                template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>',
                sortBy: 'most-recent',
                limit: 6,
                links: false
            });
            userFeed.run();

        </script>

        <div id="instafeed"></div>

        @*</div>*@
    </div>
</section>
<!-- Map -->
@*<section id="map" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Map</h2>
                    <h3 class="section-subheading text-muted">
                        Now we are looking for a permanent location within walking access to the major attractions in London.
                    </h3>
                    <p class="section-subheading text-muted">Current location: WICKES, 317 CRICKLEWOOD BROADWAY, LONDON, NW2 6JN</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.3829475202765!2d-0.22379058420276787!3d51.5612129145881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876114be36daff1%3A0x6a04396c7e08ea9!2sWickes!5e0!3m2!1sen!2suk!4v1465754766910" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>*@
<!-- Contacts -->
<section id="contacts" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contacts</h2>
                <h3 class="section-subheading text-muted">Don't hesitate to&nbsp;contact&nbsp;us for&nbsp;any&nbsp;reasons. Especially, If you&nbsp;are interested&nbsp;in our&nbsp;project, want&nbsp;to&nbsp;help or&nbsp;to&nbsp;stay.</h3>

                <div class="row text-center">
                    <div class="col-md-12">
                        <h4 class="service-heading">Customer Services</h4>
                        <div>If you need to talk to us about a booking, you can email your query to our customer service team.</div>
                        <div>
                            Email: <a href="mailto:booking@londontravelbus.com">booking@londontravelbus.com</a>
                        </div>
                        <div>Phone: +44&nbsp;07&nbsp;427&nbsp;392233</div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="service-heading">Public relations and marketing</h4>
                        <p class="text">
                            <div>
                                Email: <a href="mailto:pr@londontravelbus.com">pr@londontravelbus.com</a>
                            </div>
                            <div>Phone: +44&nbsp;07&nbsp;427&nbsp;392233</div>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <h4 class="service-heading">Map and location</h4>
                        <div>Now we're looking for a permanent location within walking access to the major attractions in London.</div>
                        <div class="section-subheading text-muted">Current location: WICKES, 317 CRICKLEWOOD BROADWAY, LONDON, NW2 6JN</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.3829475202765!2d-0.22379058420276787!3d51.5612129145881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876114be36daff1%3A0x6a04396c7e08ea9!2sWickes!5e0!3m2!1sen!2suk!4v1465754766910" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partnership -->
<section id="partnership" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partnership</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Brand Partnerships</h4>
                    <p>We love to work with other brands. If you’d like to talk to us about partnerships please get in touch, email: <a href="mailto:partner@londontravelbus.com">partner@londontravelbus.com</a></p>
                    <p class="text">
                        WICKES,<br />317&nbsp;CRICKLEWOOD&nbsp;BROADWAY,<br />
                        LONDON, NW2&nbsp;6JN<br />
                        United&nbsp;Kingdom&nbsp;T: 020&nbsp;8450&nbsp;9025 F:&nbsp;020&nbsp;8208&nbsp;3461
                    </p>
                    <p class="text">
                        <img src="~/Content/img/brands/wickes.png" width="200" alt="WICKES" />
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Affiliate Partners</h4>
                    <p class="text">
                        If you are interesting in opening a filial, affilate or franchise company in UK or in Global Market, please email: <a href="mailto:partner@londontravelbus.com">partner@londontravelbus.com</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Public relations and marketing</h4>
                    <p class="text">
                        For any PR enquiries,<br/>email: <a href="mailto:pr@londontravelbus.com">pr@londontravelbus.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Booking -->
@{
     Html.RenderAction("HomePageBooking", "Booking");
}

<!-- Modals -->
<!--  Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Room one</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="~/Content/img/portfolio/roundicons-free.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                        </p>
                        <ul class="list-inline">
                            <li>Date: Jun 2016</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Room Two</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="~/Content/img/portfolio/startup-framework-preview.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Room Three</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="~/Content/img/portfolio/treehouse-preview.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
